<button matIconButton [matMenuTriggerFor]="themeMenu" [aria-label]="`Change theme. Current theme: ${theme()}`">
  @switch (theme()) {
    @case ('dark') {
      <mat-icon>dark_mode</mat-icon>
    }
    @case ('light') {
      <mat-icon>light_mode</mat-icon>
    }
    @default {
      <mat-icon>routine</mat-icon>
    }
  }
</button>
<mat-menu #themeMenu="matMenu">
  <button mat-menu-item aria-label="System Default" (click)="setTheme('auto')">
    <mat-icon>routine</mat-icon>
    <span>System</span>
  </button>
  <button mat-menu-item aria-label="Light Mode" (click)="setTheme('light')">
    <mat-icon>light_mode</mat-icon>
    <span>Light</span>
  </button>
  <button mat-menu-item aria-label="Dark Mode" (click)="setTheme('dark')">
    <mat-icon>dark_mode</mat-icon>
    <span>Dark</span>
  </button>
</mat-menu>